body {
   font-family: Times New Roman;
}
header {
    border: 10px solid black;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 50px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
header img {
    width: 500px;
    right: 500px;
    border: 10px black solid;
    border-radius: 100px;
}

h1 {
  border: 10px solid #8B0000;
  border-radius: 100px;
  margin: 10px;
  padding: 10px;
  text-align: center;
}
h1 h2 {
    border: 10px solid #8B0000; 
    border-radius: 100px; 
    margin: 10px;
    padding: 10px;  

}
footer {
    border: 10px solid #8B0000; 
    border-radius: 100px;
    padding: 30px;
    margin: 30px;
}
footer p {
    border: 10px solid #8B0000; 
    border-radius: 100px;
    padding: 10px;
    margin: 10px;
    background-color:#FA8072;
    
}
nav {
    border: 10px solid #8B0000; 
    border-radius: 100px;
    background-color: #FA8072;

}
nav a {
    border: 5px solid #8B0000; 
    border-radius: 10px;
    padding: 5px;
    color: #FA8072;
    background-color: #8B0000;
    text-decoration: none;
    text-align: right;
    margin: 18px;
}

p img {
    border: 10px solid #8B0000; 
    border-radius: 100px;

}
 p {
    border: 10px solid #8B0000; 
    border-radius: 100px; 
    padding: 20px;
    background-color: #FA8072;
    color: black;
}
h2 {
        border: 10px solid #8B0000; 
    border-radius: 100px; 
    padding: 20px;
    background-color: #FA8072;
    color: black;
}
